.metric{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 27px;
    text-align: center;
    flex-shrink: 0;
}
.indicator{
    color: #343333;
    font-family: Arimo;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.index{
    font-family: Bebas Neue;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-width: 560px){
    .metric{
        margin-left: 0;
        flex-shrink: 10;
    }
}

