.checkbox{
    display:flex;
    color: #343333;
    font-family: Arimo;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 98.5%;
    margin: 7px 0px 5px 6px; 
    position: relative;
}
.real_checkbox{
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.custom_checkbox{
    position: relative;
    top: -3px;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #343333;
    vertical-align: sub;
    margin-right: 5px;
}

.custom_checkbox::before{
    content: '';
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url("../../../assets/tick__black.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    margin-top: 1px;
    transition: .2s ease-in;
}

.real_checkbox:checked + .custom_checkbox::before{
    transform: translate(-50%, -50%) scale(1);
}

.active_custom_checkbox{
    position: relative;
    top: -3px;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #343333;
    background-color: white;
    border-radius: 4px;
    vertical-align: sub;
    margin-right: 5px;
}

.destroyed{
    position: relative;
    top: -3px;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 4px;
    vertical-align: sub;
    margin-right: 5px;
}

.destroyed::before {
    content: '';
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url("../../../assets/red_cross.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    margin-top: 1px;
    transition: .2s ease-in;
}

.active_custom_checkbox::before {
    content: '';
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url("../../../assets/tick__black.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    margin-top: 1px;
    transition: .2s ease-in;
}
