.printer{
    position: relative;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.printer__top{
    position: relative;
    z-index: 1;
}

.printer__bottom{
    position: relative;
    z-index: 3;
}

.printer__paper{
    position: absolute;
    top: 50%;
    left: 33%;
    z-index: 2;
    width: 40%;
    height: auto;
    background-color: white;
    box-shadow:rgba(0, 0, 0, 0.25);
    border-top: 1px dashed #343333;
    border-bottom: 1px dashed #343333; 
    padding:17px  7px;
}

.printer__paper p {
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 4px;
    font-size: 11px;
}
.printer__paper h4 {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 4px;
    font-size: 11px;
}

.animate{
    animation: checkToTop 3s ease-in;
}

@keyframes checkToTop{
   0%{
    top: 50%;
   } 
   30%{
    top: 22%;
   }
   55%{
    opacity: 1;
   }
   70%{
    opacity: 0;
    top: 22%;
   }
   73%{
    top: 55%;
    opacity: 0;
   }
   75%{
    top: 54%;
    opacity: 1;
   }
   80%{
    top: 53%;
   }
   85%{
    top: 52%;
   }
   93%{
    top: 51%;
   }
   100%{
    top: 50%;
   }
}

.printer__form{
    position: absolute;
    top: 65%;
    left: 6%;
    display: flex;
    max-width:350px;
    z-index: 4;
}
.printer__form div {
    margin-right: 10px;
}
.printer__input {
    display: block;
    background-color: #383838;
    border: 1ex solid none;
    border-top-width: 1.7em;
    margin: 0;
    padding: 0;
    color: #383838;
    word-wrap: break-word;
    outline: 7px solid #383838;
    height: 30px;
    font-size: 17px;
    text-align: center;
    transition: all 1s;
    max-width: 90px;
    
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.printer__input:hover {
    border-top-width: 0.2em;
    background-color: #5a5a5a;
}
.printer__input:focus {
    border-top-width: 0.2em;
    background-color: #5a5a5a;
    color: white;
}
#country{
    border-color: #212121;
    border-bottom-width: 2px;
    border-bottom-color: #767676; 
    border-right-width: 3px;
    border-right-color: #767676;

}
.printer__input option{
    background-color: #383838;
}
#printer__button_container{
    margin-left: 30px;
    display: block;
    position: relative;
    top: 3px;
    left: 0;

}
#printer__button{
    position: absolute;
    top: -3px;
    left: 0;
    border: none;
    z-index: 5;
    padding: 4px 10px;
    color: #C3C3C3;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 2px;
    background: #527153;
    transition: .1s;
}

#printer__button:hover{
    top: -1px;
}

#printer__button:active {
    background: #74c777;
    color: #ffffff;
    top: 0px;
    transition: .2s;
    box-shadow: 0px 4px 4px 0px rgba(150, 199, 154, 0.397);
}



.printer__button_bottom{
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    z-index: 0;
    width: 61px;
    height: 29px;
    border-radius: 2px;
    background:#313D32;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#printer__button:active .printer__button_bottom{
    background:#5f7561;
    box-shadow: 0px 4px 4px 0px rgba(183, 247, 188, 0.397);
}
