@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

*{
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url(./assets/bomb-cursor.png), auto; 
}

