@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
} 

.country{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #B79279;
}
.container{
    max-width: 1350px;
    width: 100%;
    margin: 0 20px;
}
.country__info{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.hr_black{
    width: 100%;
    height: 1px;
    background: #343333;
}

.hr_big{
    display: block;
    background: #343333;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    margin: 15px 0;
}

.country__documents{
    position: relative;
    top: 0;
    left: 0;
    max-width: 789px;
    width: 100%;
    padding: 5px 8px 15px 18px;
    border-radius: 5px;
    background: #DFBE68;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.country__documents_president{
    max-width: 789px;
    width: 100%;
    margin: 0 auto;
}

.country__table{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.country__your{
    border-radius: 5px 0 5px 5px;
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 763px;
    background-color: #fff;
    padding: 20px 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.country__print{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.country__table_loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader__text{
    color: #f0f0f0;
    font-family: Arimo;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    
}

.loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.loader div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.loader div:nth-child(1) {
    animation-delay: -0.45s;
}
.loader div:nth-child(2) {
    animation-delay: -0.3s;
}
.loader div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.bookmark, .bookmark__grey {
    position: absolute;
    z-index: 3;
    top: -33px; 
    perspective: 200px;
    display: inline-block;
    width: 200px;
    height: 33px;
}

.only__price{
    margin-top: 6px;
    color: #343333;
    font-family: Arimo;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 98.5%;
}

.bookmark__your{ 
    right: 0;
}

.bookmark__other{
    right: 180px;
}

.bookmark:before {
    transform: rotateX(40deg);
    transform-origin: 50% 100%;
    border-radius: 7px 7px 0 0;
    height: 100%;
    width: 100%;
    position: absolute;
    content: '';
    background-color: #fff;
}

.bookmark__grey:before{
    transform: rotateX(40deg);
    transform-origin: 50% 100%;
    border-radius: 7px 7px 0 0;
    height: 100%;
    width: 100%;
    position: absolute;
    content: '';
    background-color: #C1C1C1;
}

.bookmark__text {
    padding: 15px 20px 5px;
    text-align: center;
    position: relative;
    z-index: 1;
    font-family: Bebas Neue;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 98.5%;
}

.country__other{
    border-radius: 5px;
    position: absolute;
    top: 3px;
    right: 18px; 
    width: 100%;
    height: calc(100% - 22px);
    max-width: 763px;
    background-color: #C1C1C1;
    padding: 20px 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.country__metrics{
    width: 70%;
    max-width: 365px;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 40px;
}
.country__title{
    display:flex;
    align-items: center;
    width: 100%;
    
}
.country__flag{
    border-radius: 5px;
    width: 76px;
    height: 43px;
    flex-shrink: 0;
    margin-right: 20px;
}
.country__name{
    color: #343333;
    font-family: Bebas Neue;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 98.5%;
    margin-top: 5px;
}
.cities__information{
    display:flex;
    justify-content: space-between;
}
.cities__info > div:nth-child(4){
    margin-right: 0;
}

.country__print{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.section__columns{
    display: flex;
    justify-content: space-between;
}

/* Pen ------------------------------------------ */

#pen{
    transform: translateY(65px) rotate(-27deg);
}

/* ---------------------------------------------- */

.paragraph{
    color: #343333;
    font-family: Arimo;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 98.5%;
    margin: 5px 0;
}

.country__enemies{
    display: flex;
    flex-direction: column;
}
.country__stats{
    display:flex;
    align-items: center;
}
.country__info_stats{
    width: 70%;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.cities__info{
    display:flex;
    margin: 70px 0 50px 0;
}
.cities__info > div:nth-child(4){
    margin-right: 0;
}
.country__development{
    display: flex;
    justify-content: space-between;
    background-color: #dddddd;
    padding: 20px 50px 20px 15px;
    color:rgb(92, 92, 92);
    border-radius: 15px;
    margin-bottom: 20px;
}

.country__position{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-end;
    padding-bottom: 20px;
}

.position__text{
    color: #343333;
    font-family: Arimo;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 98.5%; 
    margin: 7px 0 11px 0;
}

.position__button{
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid #343333;
    border-radius: 4px;
    color: #343333;
    font-family: Arimo;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 98.5%;
    transition: .2s;
}

.position__button:hover{
    background-color: #343333;
    color: #fff;
    transition: .2s;
}

.country__button{
    text-align: end;
    position: relative;
    top: -20px;
    right: 40px;
}

/* Stamp -------------------------------------------- */

.stamp__grey_blue, .stamp__grey_red{
    cursor: url(./../../assets/stamp.png), auto;
    width: 190px;
    height: 190px;
    background: url(./../../assets/stamp-grey.png);
    transition: .4s;
    border-radius: 50%; 
}

.stamp__grey_blue:hover{
    background: url(./../../assets/stamp-blue.png);
    opacity: 0.6;
    transition: .4s;
}

.stamp__grey_blue:active{
    background: url(./../../assets/stamp-blue.png);
    opacity: 1;
    transition: .2s;
}

.stamp__grey_red:hover{
    background: url(./../../assets/stamp-red.png);
    opacity: 0.6;
    transition: .4s;
}

.stamp__grey_red:active{
    background: url(./../../assets/stamp-red.png);
    opacity: 1;
    transition: .2s;
}

/* ------------------------------------------------ */

.country__sanctions{
    display: flex;
    justify-content: space-between;
}
.country__sanction{
    margin-right: 80px;
}
.country__enemy{
    display: flex;
}
.button{
    border: none;
    background-color: transparent;
}
.country__input{
    margin-top: 8px;
    display: flex;
    align-items: center;

}
.country__input input{
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 15px;
    width: 60px;
    margin-left: 10px;
}
.input__text{
    font-weight: 600;
    font-size: 22px;
}

.rocket__counter{
    display: flex;
}

.enemies{
    display: flex;
}
.enemy{
    margin-left: 30px;
}
.enemy__country{
    color: #343333;
    font-family: Bebas Neue;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 98.5%;
}
.country__bomb{
    color: #5ACA85;
    font-family: Bebas Neue;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 98.5%;
}

.relationship{
    color: #343333;
    font-family: Arimo;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 98.5%; 
    margin: 8px 0 11px 0;
}

.city__destoyed{
    position: relative;
    top: 0;
    left: 2px; 
    width: 15px;
    height: 15px;
}
.countries__information{
    display: flex;
    justify-content: space-around;
}

.countries__information p{
    color: #343333;
    font-family: Arimo;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 98.5%;
    height: 20px;
}

.countries__city{
    display: flex;
    align-items: center;
}

.countries__name{
    font-family: Bebas Neue;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 98.5%; 
}

.mobile__button{
    display: none;
}

.desktop__button{
    display: block;
}

@media (max-width: 1060px){
    .country__table{
        flex-direction: column;
        width: 100%;
    }
    #pen{
        display: none;
    }
    .country__documents{
        margin: 30px auto;
        width: 100%;
    }
    .desktop__button{
        display: none;
    }
    .mobile__button{
        display: block;
        display: flex;
        justify-content: center; 
    }
    .mobile__button .fire__button{
        width: 100%;
        margin-top: 20px auto; 
    }
    .country__print{
        width: 100%;
    }
    
}

@media (max-width: 768px){
    .countries__information{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: 15px;
    }
    .countries__country{
        margin-top: 20px;
        margin-left: 10px;
    }
    .stamp__grey_blue, .stamp__grey_red{
        width: 120px;
        height: 120px;
        background-size: contain;
    }
    .country__other{ 
        right: 12px;
        max-width: 713px;
    }
    .enemies{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

@media (max-width: 688px){
    .section__columns{
        flex-direction: column;
    }
    .enemy{
        margin-left: 0px;
        margin-right: 20px;
    }
    .enemies{
       margin-top: 10px;
    }
    .country__sanctions{
        flex-direction: column;
    }
    .country__sanction{
        margin-bottom: 15px;
    }
    .section__columns_row{
        flex-direction: row;
    }
    .country__title{
        width: 20%;
    }
    .country__flag{
        border-radius: 3px;
        width: 58px;
        height: 36px;
        margin-right: 10px;
    }
    .country__name{
        font-size: 28px;
    }
    .cities__information{
        flex-wrap: wrap;
        justify-content: center;
    }
    .country__your{
        padding: 10px 10px;
        width: 100%;
    }
    .country__other{ 
        max-width: 623px;
        padding: 10px 15px;
    }
    .countries__country{
        width: 50%;
        margin-left: 0;
    }
    .country__documents{
        padding: 6px 0;
    }
}

@media (max-width: 560px){
    .country__info{
        flex-direction: column;
        justify-content: center;
    }
    .country__metrics{
        width: 100%;
        justify-content: space-between;
        margin-top: 10px;
    }
    .bookmark, .bookmark__grey {
        width: 160px;
    }
    .country__other{ 
        right: 0px; 
    }
}










