.city{
    padding: 4px 4px 0px 4px;
    width: 25%;
    max-width: 148px;
    background-color: white;
    border-radius: 10px;
}
.city__photo{
    width:100%;
    border-radius: 5px;
    max-width: 140px;
    height: 80px;
    object-fit: cover; 
}
.city__block{
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: #55828B;
    border-radius: 20px;
    overflow:hidden;
}
.city__name{
    display: inline-block;
    font-family: Bebas Neue;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 98.5%; 
    margin-left: 6px;
}
.city__metrics{
}
.city__metrics span{
    display: inline-block;
}
.city__metric{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #343333;
    font-family: Arimo;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 98.5%;
    padding: 5px 6px 3px 5px;
}
.city__metric img{
    width: 14px;
    height: 14px;
}

.city__prices{
    background-color: #55828B;
    border-radius: 20px;
    padding: 15px; 
    margin-top: 5px;
    color: white; 
}

.city__price{
    color: #343333;
    font-family: Arimo;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 98.5%;
    margin: 5px 0;
}

.city_desroyed{
    margin-right: 30px;
    width: 25%;
    padding: 5px;
    border-radius:25px;
    background-color: #FFB6A8;
}

.city__block_desroyed{
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: #ff7b61;
    border-radius: 20px;
    overflow:hidden;
}

.city__state_block{
    display: flex;
    justify-content: center;
    align-items: center;
}
.city__state{
    display: inline-block;
    margin-top: 22px;
    color: #DD7474;
    font-family: Bebas Neue;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 98.5%;
}
